In [1]:
import spacy

In [2]:
nlp=spacy.load("en_core_web_sm")

In [3]:
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [19]:
doc=nlp("Tesla is going to acquire twitter for $45 billion")
for ent in doc.ents:
    print(ent.text," | ",ent.label_," | ",spacy.explain(ent.label_))

$45 billion  |  MONEY  |  Monetary values, including unit

In [20]:
from spacy import displacy
displacy.render(doc,style="ent")

In [21]:
#nlp.pipe_labels['ner']

In [22]:
type(doc[2:5])

spacy.tokens.span.Span

In [23]:
doc[2:5]

going to acquire

In [24]:
from spacy.tokens import Span

In [26]:
s1=Span(doc,0,1,label="ORG")
s2=Span(doc,5,6,label="ORG")
doc.set_ents([s1,s2],default="unmodified")

In [27]:
for ent in doc.ents:
    print(ent.text," | ",ent.label_)

Tesla  |  ORG
twitter  |  ORG
$45 billion  |  MONEY

In [28]:
text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

doc = nlp(text)

In [29]:
for ent in doc.ents:
    print(ent.text," | ",ent.label_)

Kiran  |  PERSON
India  |  GPE
Google  |  ORG
Google  |  ORG
Delhi  |  GPE
Chaat  |  ORG
Gujarat  |  GPE
Dal Dhokli  |  ORG
Tamilnadu  |  GPE
Pongal  |  ORG
Andhrapradesh  |  GPE
Biryani  |  PERSON
Papaya Khar  |  PERSON
Bihar  |  GPE
Litti Chowkha  |  PERSON

In [31]:
GPE=[]
for ent in doc.ents:
    if ent.label_=="GPE":
        GPE.append(ent.text)

In [32]:
GPE

['India', 'Delhi', 'Gujarat', 'Tamilnadu', 'Andhrapradesh', 'Bihar']

In [33]:
text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

doc = nlp(text)
for ent in doc.ents:
    print(ent.text," | ",ent.label_)

Sachin Tendulkar  |  PERSON
24 April 1973  |  DATE
Virat Kholi  |  LOC
5 November 1988  |  DATE
Dhoni  |  PERSON
7 July 1981  |  DATE
Ricky  |  PERSON
19 December 1974  |  DATE

In [35]:
DATE=[]
for ent in doc.ents:
    if ent.label_=="DATE":
        DATE.append(ent.text)
        
print("All DOB : ",DATE)
print("Count = ",len(DATE))

All DOB :  ['24 April 1973', '5 November 1988', '7 July 1981', '19 December 1974']
Count =  4